{% extends "base.html" %}

{% block body %}

<!-- Sidebar -->
<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                <li><a href="#intro">Welcome</a></li>
                <li><a href="#one">What we Offer</a></li>
                <li><a href="#two">What we do</a></li>
                <li><a href="#three">Get in touch</a></li>
            </ul>
        </nav>
    </div>
</section>

<!-- Wrapper -->
<div id="wrapper">
    <!-- Intro -->
        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
                <h1>CATHOLIC DIOCESE OF NGONG</h1>
                <p>A loving community of God living fulfilled lives.</p>
                <ul class="actions">
                    <li><a href="#one" class="button scrolly">Learn more</a></li>
                </ul>
            </div>
        </section>

        <!--One-->
        {% include 'home/offer.html' %}

        <!-- Two -->
        {% include 'home/what-we-do.html' %}

        <!-- Three -->
        {% include 'home/get-in-touch.html' %}
</div>

{% endblock %}