<section id="one" class="wrapper style2 spotlights">
    <section>
        <a href="#" class="image">
            <img src="{{ url_for('static', filename='img/about.jpg') }}" alt="" data-position="center center" />
        </a>
        <div class="content">
            <div class="inner">
                <h2>About Us</h2>
                <ul class="actions">
                    <li>
                        <a href="{{ url_for('resort.display_offers') }}" class="button">Learn More</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section>
        <a href="#" class="image">
            <img src="{{ url_for('static', filename='img/imgp.jpg') }}" alt="" data-position="top center" />
    </a>
        <div class="content">
            <div class="inner">
                <h2>Parishes</h2>
                <ul class="actions">
                    <li><a href="{{ url_for('home.display_menu') }}" class="button">Learn more</a></li>
                </ul>
            </div>
        </div>
    </section>

    <section>
        <a href="#" class="image">
            <img src="{{ url_for('static', filename='img/img1.jpg')}}" alt="" data-position="25% 25%" />
        </a>
        <div class="content">
            <div class="inner">
                <h2>Photo Gallery</h2>
                <ul class="actions">
                    <li><a href="{{ url_for('gallery.display_gallery') }}" class="button">Learn more</a></li>
                </ul>
            </div>
        </div>
    </section>
</section>