{% extends "base.html" %}

{% block body %}

<!-- Header -->
<header id="header">
	<a href="{{ url_for('home.index') }}" class="title">Natare</a>
</header>

<!-- Wrapper -->
<div id="wrapper">

	<!-- Main -->
	<section id="main" class="wrapper">
		<div class="inner">
			<h1 class="major"><i>Catholic Diocese of Ngong</i></h1>

			<!-- Table -->
			<section>
				<h3>Listed below are the parishes enlisted under our Diocese, organised according to specific deaneries.</h3>
				<div class="table-wrapper">
					<table class="alt">
						<thead>
							<tr>
								<th>Deanery</th>
								<th>Parish location</th>
								
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Kilgoris Deanery</td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>Abosi</td>
							</tr>
							<tr>
								<td></td>
								<td>Kilgoris</td>
							</tr>
							<tr>
								<td></td>
								<td>Lolgorien</td>
							</tr>
							<tr>
								<td>Oloitokitok Deanery</td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>Sultan Hamud-St.Martin</td>
							</tr>
							<tr>
								<td></td>
								<td>Lenkisem</td>
							</tr>
							<tr>
								<td></td>
								<td>Lolgorien</td>
							</tr>
							<tr>
								<td></td>
								<td>Oloitokitok</td>
							</tr>
							<tr>
								<td></td>
								<td>Rombo</td>
							</tr>
							<tr>
								<td>Narok Deanery</td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>St.Peters Narok</td>
							</tr>
							<tr>
								<td></td>
								<td>St .Joseph Narok</td>
							</tr>
							<tr>
								<td></td>
								<td>Nairegea-Enkare</td>
							</tr>
							<tr>
								<td></td>
								<td>Enoosupukia</td>
							</tr>
							<tr>
								<td></td>
								<td>Naroosura</td>
							</tr>
							<tr>
								<td></td>
								<td>Entasekera</td>
							</tr>
							<tr>
								<td></td>
								<td>Oloikirikirai</td>
							</tr>
							<tr>
								<td></td>
								<td>Ololulunga</td>
							</tr>
							<tr>
								<td></td>
								<td>Mulot</td>
							</tr>
							<tr>
								<td></td>
								<td>Lemek</td>
							</tr>

							<tr>
								<td>Ngong Deanery</td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>St.Joseph Cathedral Ngong</td>
							</tr>
							<tr>
								<td></td>
								<td>St.Barnabas Matasia</td>
							</tr>
							<tr>
								<td></td>
								<td>St.Mary’s Embulbul</td>
							</tr>
							<tr>
								<td></td>
								<td>Nkoroi-St.Charles Lwanga</td>
							</tr>
							<tr>
								<td></td>
								<td>Kiserian</td>
							</tr>
							<tr>
								<td></td>
								<td>St.Mary’s Ongata Rongai</td>
							</tr>
							<tr>
								<td></td>
								<td>Magadi</td>
							</tr>
							<tr>
								<td></td>
								<td>Kisaju</td>
							</tr>
							<tr>
								<td></td>
								<td>Noonkorpir-St.Monica</td>
							</tr>
							<tr>
								<td></td>
								<td>Namanga-St.Paul</td>
							</tr>
							<tr>
								<td></td>
								<td>Kandisi</td>
							</tr>
							<tr>
								<td></td>
								<td>Kibiko-St.Anne</td>
							</tr>
							<tr>
								<td></td>
								<td>Ewuaso-Yesu Empiris</td>
							</tr>
							
						</tbody>
					</table>
				</div>
			</section>

{% endblock %}