{% extends "base.html" %}

{% block body %}
<section id="two" class="wrapper style3 fade-up">
    <div class="inner">
        <h2>Departments</h2>
        <p>The Catholic Diocese of Ngong has committed to afew activities.</p>

        <div class="features">
            <section>
                <span class="icon major fa-code"></span>
                <h3>CJPC</h3>
                <p class="clips">
                The group becomes the first largest group to be commissioned in this commission this year with other Parishes following suit.Father Mwangi asked them to be non-partisan, “Do not preach manifestos of political parties, stand and preach peace especially this time we are headed for elections come 2017.” He urged them to work fearlessly for justice.He invited all Christians to desist from ethnicity and corruption the roots that derail development in our country, asking them to preach love and solidarity.
                <ul class="actions">
                    <li><a href="#" class="button">Learn more</a></li>
                </ul>
                </p>
            </section>

            <section>
                <span class="icon major fa-lock"></span>
                <h3>LIVELIHOODS</h3>
                <p class="clips">
                The Catholic Diocese of Ngong Livelihoods office has embarked on a project addressing community managed water projects in Kajiado County, where two water management communities will benefit. The project that is financed by Caritas Switzerland and the Water Integrity Network and supported by the Ministry of Water Kajiado County, is also carried out in Wajir and Marsabit Counties with an aim of training community groups managing small scale water supply systems through an ‘Integrity & Management Toolbox’ over a period of 6-9 months.
                </p>
                <ul class="actions">
                    <li><a href="#" class="button">Learn more</a></li>
                </ul>
            </section>

            <section>
                <span class="icon major fa-cog"></span>
                <h3>EDUCATION</h3>
                <p class="clips">
                The Catholic Church pays keen attention on education as it plays pivotal role in transformation of human beings ripening the capacity for right judgment. Father Mwangi was saying this at Kiserian Junior Seminary where schools from Ngong Deanery had gathered to celebrate World Communication Day on 27th May 2016. Ngong Deanery was hosting this event for the fourth time being a platform for awarding best schools in the deanery for year 2015 K.C.P.E and K.C.S.E examinations.
                </p>
                <ul class="actions">
                    <li><a href="#" class="button">Learn more</a></li>
                </ul>
            </section>
        </div>
    </div>
</section>


{% endblock %}