{% extends "base.html" %}

{% block body %}

<!-- Header -->
	<header id="header">
		<a href="{{ url_for('home.index') }}" class="title">NGONG DIOCESE</a>
	</header>

<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<h1 class="major">About Us</h1>
					<span class="image fit"><img src="/static/img/about.jpg" alt="" /></span>
					<h5>PHYSICAL LOCATION</h5>
					<p>Catholic Diocese of Ngong lies within the archdiocese of Nairobi in Southern Kenya. It operates in the southern part of Rift-Valley counties of Kajiado and Narok with an approximate area of 39,619km² and a population of 1,538,232people (Census, 2009). The Diocese has 33 parishes divided into 4 deaneries (Kilgoris, Narok, Ngong and Loitokitok). </p>
					<h5>VISION STATEMENT</h5>
					<p>A loving community of God living fulfilled lives.</p>
					<h5>MISSION STATEMENT</h5>
					<p>To sustainably improve on the quality of life of people living within the Diocese by spreading the Good News of Christ and facilitating social-economic empowerment in justice and peace.</p>
					<h5>CORE VALUES/PRINCIPLES</h5>
					<p>
						<ul style="list-style-type:none">
							  <li>Championing Togetherness in the Family of God</li>
							  <li>Facilitating Justice for all </li>
							  <li>Empowerment for communities</li>
							  <li>Enabling participation by/for all</li>
							  <li>Encouraging dialogue, peace and social communication</li>
							  <li>Living life's of witness<li>
							  <li>Ministering to the total person<li>
							</ul>
					</p>
				</div>
			</section>

	</div>

{% endblock %}